body{
    height: 1500px;
}
div {
    height: 20vh;
    width: 20vw;
    border: 2px solid black;
    margin: 1vw;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}
.summer{
    background-image: url(/background-image-overview-feature/summertime.jpg);
    background-size: cover;
    color: black;
}
.smr {
    background-image: url(/background-image-overview-feature/summertime.jpg);
    background-size: cover;
    background-color: #d9e057;
}
.winter{
    background-image: url(/background-image-overview-feature/winter.jpg);
    background-size: cover;
    color: white;
    background-color: #b0e0e6;
}
.wntr {
    background-image: url(/background-image-overview-feature/winter.jpg);
    background-size: cover;
    background-color: #b0e0e6;
}

.autumn{
    background-image: url(/background-image-overview-feature/autum.jpg);
    background-size: cover;
    color: yellow;
}
.autm {
    background-image: url(/background-image-overview-feature/autum.jpg);
    background-size: cover;
    background-color: #e8b342;
}
.spring {
    background-image: url(/background-image-overview-feature/spring.jpg);
    background-size: cover;
    color: rgb(223, 247, 3);
}
.spng {
    background-image: url(/background-image-overview-feature/spring.jpg);
    background-size: cover;
    background-color: #2ff238;
}
.rainy {
    background-image: url(/background-image-overview-feature/rainy.jpg);
    background-size: cover;
}
.rny {
    background-image: url(/background-image-overview-feature/rainy.jpg);
    background-size: cover;
    background-color: #69787a;
}